* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Swanky and Moo Moo", cursive;
 min-height: 100vh;
 background-color: rgb(177, 177, 238);
}

header {
 font-size: 3rem;
}
header,
.container {
 min-height: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

input,
button {
 padding: 0.5rem;
 font-size: 2rem;
 border: none;
 background: rgb(164, 200, 214);
}
button {
 color: #103cfd;
 background: #f7fffe;
 cursor: pointer;
 transition: all 0.3s ease;
}

button:hover {
 background: #ff47b8;
 color: white;
}
.todo-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

.todo-list {
 min-width: 40%;
 list-style: none;
}

.todoDiv {
 margin: 0.5rem;
 background: white;
 font-size: 1.5rem;
 color: black;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: all 1s ease;
}
.filter-todo {
 padding: 1rem;
}
.todoDiv li {
 flex: 1;
}

.trash-btn,
.complete-btn {
 color: white;
 border: none;
 padding: 1rem;
 cursor: pointer;
 font-size: 1rem;
}
.complete-btn {
 background: rgb(11, 212, 162);
}

.complete-btn:hover {
 background: rgb(0, 255, 191);
}

.trash-btn {
 background-color: red;
}

.trash-btn:hover {
 background-color: yellow;
}

.todo-item {
 padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
 pointer-events: none;
}

.fall {
 transform: translateY(10rem) rotateZ(20deg);
 opacity: 0;
}

.completed {
 opacity: 0.4;
}
